body {
    font-family: "Arial", sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh; 
}

h1,h2,p {
    text-align: center; 
}
.selectForm {
    width: 100%;            
    margin: 0 auto;       
    display: flex;  
    flex-wrap: wrap;       
    align-items: center; 
    justify-content: center;  
    gap: 10px;
}


.selectForm.input,
.selectForm.select,
.selectForm.textarea {
    flex: 1;
    width: 100%;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #ddd;
    border-radius: 0.25em;
}

button {
    padding: 0.625em 1.25em;
    background-color: black;
    color: white;
    border: none;
    border-radius: 0.3125em;
    cursor: pointer;
}

button:hover {
    background-color: black;
}

#marsPhotosContainer {
    text-align: center;
}

#marsPhotosContainer img{
    width: 100%;
    max-width: 600px; /* Restricts the image from stretching too wide */
    height: auto;
}

.cosole_error, .date-error, .no_photo_message{
    font-family: "Roboto", serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 100px;
}